body {
  background-color: #eeeeee;
}

.container {
  font-family: "Cambria";
  font-weight: bold;
  width: 700px;
  margin: 30px auto;
}

h1 {
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  width: 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.divBorder {
  border-style: dotted solid dotted solid;
  margin-bottom: 1px;
}